* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #922037;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.submit{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    color: #d34970;
}

.password-input-box{
    position: relative;
    width: 300px;
    height: 40px;
}

